.transfer-section {
	padding: 4rem 0;

	.page-content {
		.transfer-tab-nav {
			.slick-track {
				li {
					color: $white;
					margin-right: 10px;
					min-height: calPxToRem(132);

					&:last-child {
						margin-right: 0;
					}

					&.active {
						border: 3px solid $primary;
					}
				}
			}
		}
	}
}