<div class="games-slider-syncing">
  <ul class="tab-nav p-2">
    <li class="btn btn-outline-dark bg-orange-gradient px-0 py-3 active">
      <i class="fa-fire fas fs-4"></i>
      <br>
      <span class="fs-8 text-uppercase">HOT NHẤT</span>
    </li>
    <li class="btn btn-outline-dark bg-orange-gradient px-0 py-3">
      <i class="fa-solid fa-gamepad"></i>
      <br>
      <span class="fs-8 text-uppercase">Trò Chơi</span>
    </li>
  </ul>
  <div class="tab-for">
    <div class="px-2">
      <div class="row g-2">
        <div class="col-6">
          <div class="bg-gray rounded ">
            <img width="100%" src="https://haon-jp.cdn-dysxb.com/system-requirement/Multimedia/Navigation/Mobile/Term/ab7d41649404431aa6bc0bb3f68bcd9f.png" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="bg-gray rounded ">
            <img width="100%" src="https://haon-jp.cdn-dysxb.com/system-requirement/Multimedia/Navigation/Mobile/Term/ab7d41649404431aa6bc0bb3f68bcd9f.png" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="bg-gray rounded ">
            <img width="100%" src="https://haon-jp.cdn-dysxb.com/system-requirement/Multimedia/Navigation/Mobile/Term/ab7d41649404431aa6bc0bb3f68bcd9f.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="px-2">
      <div class="row g-2">
        <div class="col-6">
          <div class="bg-gray rounded ">
            <img width="100%" src="https://haon-jp.cdn-dysxb.com/system-requirement/Multimedia/Navigation/Mobile/Term/ab7d41649404431aa6bc0bb3f68bcd9f.png" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="bg-gray rounded ">
            <img width="100%" src="https://haon-jp.cdn-dysxb.com/system-requirement/Multimedia/Navigation/Mobile/Term/ab7d41649404431aa6bc0bb3f68bcd9f.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>