<header class="header">
	<!--Top Header-->
	<div class="header-top bg-dark position-fixed top-0 start-0 w-100 py-2">
		<a class="btn position-absolute" data-bs-toggle="offcanvas" href="#sidebar" role="button" aria-controls="sidebar">
			<i class="fa-solid fa-bars text-white fs-3" aria-hidden="true"></i>
		</a>
		<div class="logo text-center">
			<img src="https://1501win.com/images/logo/logo-1501win2.png" alt="" width="250">
		</div>
	</div>
	<!--Bottom Header-->
	<div class="header-bottom position-fixed bottom-0 start-0 w-100 bg-dark">
		<div class="header-bottom-menu d-flex w-100">
			<a href="#" class="menu-item active">
				<i class="fa-solid fa-house fs-4 text-white" aria-hidden="true"></i>
				<br>
				<span class="fs-9 text-white text-uppercase w-100">Trang Chủ</span>
			</a>
			<a href="#" class="menu-item">
				<i class="fa-solid fa-hand-holding-dollar fs-4 text-white" aria-hidden="true"></i>
				<br>
				<span class="fs-9 text-white text-uppercase w-100">Hoàn Trả</span>
			</a>
			<a href="#" class="menu-item">
				<i class="fa-solid fa-gift fs-4 text-white" aria-hidden="true"></i>
				<br>
				<span class="fs-9 text-white text-uppercase w-100">Khuyến Mãi</span>
			</a>
			<a href="#" class="menu-item">
				<i class="fa-solid fa-headset fs-4 text-white" aria-hidden="true"></i>
				<br>
				<span class="fs-9 text-white text-uppercase w-100">CSKH 24/7</span>
			</a>
			<a href="account.html" class="menu-item">
				<i class="fa-regular fa-user fs-4 text-white" aria-hidden="true"></i>
				<br>
				<span class="fs-9 text-white text-uppercase w-100">Tài Khoản</span>
			</a>
		</div>
	</div>
</header>
<div class="sidebar offcanvas offcanvas-start bg-dark" tabindex="-1" id="sidebar" aria-labelledby="sidebar-label">
	<div class="offcanvas-header sidebar-header bg-orange-gradient d-flex justify-content-center align-items-center position-relative">
		<a href="javascript:" class="position-absolute top-0 end-0 p-2" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fa-solid fa-xmark fs-4 text-white" aria-hidden="true"></i>
		</a>
		<div class="px-3 auth-group">
			<div>Xin chào, Huan Hoa Hong</div>
		</div>
	</div>
	<div class="offcanvas-body p-0 sidebar-body">
		<ul class="list-group list-group-flush sidebar-menu">
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-solid fa-house me-2" aria-hidden="true"></i> Quay lại trang chủ</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-solid fa-envelope me-2" aria-hidden="true"></i> Trạm thư</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-solid fa-bullhorn me-2" aria-hidden="true"></i> Thông báo mới nhất</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-solid fa-key me-2" aria-hidden="true"></i> Đổi mật khẩu</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-regular fa-credit-card me-2" aria-hidden="true"></i> Sửa đôi mật khẩu rút tiền</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-solid fa-clock-rotate-left me-2" aria-hidden="true"></i> Kỷ lục cá cược</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-brands fa-whatsapp me-2" aria-hidden="true"></i> Dịch vụ trực tuyến</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-sharp fa-regular fa-circle-down me-2" aria-hidden="true"></i> Tải app</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-solid fa-right-from-bracket me-2" aria-hidden="true"></i> Đăng xuất</a>
			</li>
			<li class="list-group-item sidebar-menu-item">
				<a href="#" class="text-white"><i class="fa-solid fa-desktop me-2" aria-hidden="true"></i> Quay lại phiên bản máy tính</a>
			</li>
		</ul>
	</div>
</div>